@import "./vars.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", "Balsamiq Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", "Balsamiq Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
