:root {
  --light-white: #f9f9f9;
  --light-blue: #03b0ff;
  --dark-blue: #1966d6;
  --off-blue: #6499e7;
  --light-black: #191919;
  --light-grey: #d4d4d4;
  --grey: #79828f;
  --dark-grey: #3b3b3b;

  --active: #03b0ff;
  --inactive: #fe196c;
}

.dark-mode {
  --main-wrapper-background-color: var(--light-black);
  --primary-font-color: var(--light-white);
  --secondary-font-color: var(--grey);

  --options-color: var(--light-white);
  --options-color-hover: var(--grey);

  --primary-anchor-color: var(--off-blue);
  --primary-anchor-color-hover: var(--dark-blue);

  --secondary-anchor-color: var(--grey);
  --secondary-anchor-color-hover: var(--dark-grey);

  --header-border: var(--dark-grey);
}

.light-mode {
  --main-wrapper-background-color: var(--light-white);
  --primary-font-color: var(--light-black);
  --secondary-font-color: var(--grey);

  --options-color: var(--light-blue);
  --options-color-hover: var(--dark-blue);

  --primary-anchor-color: var(--off-blue);
  --primary-anchor-color-hover: var(--dark-blue);

  --secondary-anchor-color: var(--grey);
  --secondary-anchor-color-hover: var(--dark-grey);

  --header-border: var(--light-grey);
}
